/*
Additional Checkbox coloring, spacing, and style goes here
*/

#checkBack{
  box-sizing: initial;
  padding-top: 30vh;
  height: 95vh;
  text-align: center;

}


iframe{
    width: 50%;
    height: 80%;
}

.checkBack-flair-left{
  border-top: 7px solid var(--paradisePink);
}

.checkBack-flair-right{
  border-bottom: 7px solid var(--electricBlue);
}

@media only screen and (max-width: 1100px) {
  iframe{
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {

  .checkBack-flair-left{
    border-top: 3px solid var(--paradisePink);
  }
  
  .checkBack-flair-right{
    border-bottom: 3px solid var(--electricBlue);
  }
}