/*
Additional Header coloring, spacing, and style goes here
*/

#header{
  background: transparent;
  height: 100vh;
}

#header-title{
  text-align: center;
  margin: auto;
  width: 100%;
  padding: 25vh 10vh 10vh;
  position: relative;
  z-index: 3;
}

#header-title h1{
  background: transparent;
  text-shadow: -5px 5px #5edff09d, 5px 5px #FF6B989d;
}

#header-links{
  width: 30%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  position: relative;
  z-index: 3;
}

#header-links a{
  background: var(--paradisePink);
  padding: 2% 3%;
  font-size: 1.7em;
  font-weight: bold;
  border-radius: 5px;
  min-width: 5em;
  text-align: center;
}

#header-links a:hover{
  background: #f04d7e;
}

#header-links a:hover{
  color: white;
  text-decoration: none;
}

#header video{
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  width: 100%;
}

@media only screen and (max-width: 1000px) {
  #header-links{
    width: 60%;
  }

  #header-links a{
    padding: 2% 3%;
    font-size: 1.5em;
    min-width: 5em;
  }
}