/*
Store things here
*/

:root{
  /* Colors - via style guide */
  --russianViolet: #150031;
  --electricIndigo: #5e2bff;
  --electricBlue: #53f5f9;
  --paradisePink: #f02262;
  --cyberYellow: #ffea4a;
  --white: #f3f3f3;
}