/*
Store things here
*/

:root{
  /* Colors - via style guide */
  --russianViolet: #150031;
  --electricIndigo: #4F60FF;
  --electricBlue: #5EDFF0;
  --paradisePink: #FF6B98;
  --cyberYellow: #F2E686;
  --white: #f3f3f3;
}